In [44]:
# begin here

In [128]:
import pandas as pd
import numpy as np
import matplotlib as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [130]:
weather_data = pd.read_csv("data weather bigger.csv")
weather_data

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2015-01-01,6.3,-0.6,13.9,0.0,NaN,NaN,2.8,NaN,1019.2,NaN
1,2015-01-02,7.2,0.0,15.0,0.0,NaN,NaN,2.2,NaN,1019.2,NaN
2,2015-01-03,8.3,1.7,16.1,0.0,NaN,NaN,2.6,NaN,1022.5,NaN
3,2015-01-04,11.9,3.3,20.6,0.0,NaN,NaN,5.2,NaN,1024.9,NaN
4,2015-01-05,18.9,15.0,24.4,0.0,NaN,354.0,22.7,NaN,1022.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3283,2023-12-28,12.7,8.3,19.4,0.0,NaN,357.0,1.1,NaN,1020.6,NaN
3284,2023-12-29,13.1,8.9,19.4,0.0,NaN,29.0,3.6,NaN,1018.8,NaN
3285,2023-12-30,13.0,8.9,16.7,14.8,NaN,354.0,5.5,NaN,1017.9,NaN
3286,2023-12-31,11.2,6.5,14.4,0.0,NaN,23.0,3.7,NaN,1018.8,NaN
3287,2024-01-01,12.3,7.2,18.3,0.0,NaN,3.0,4.4,NaN,1018.1,NaN

In [132]:
weather_data = weather_data.drop(columns=['snow', 'wpgt', 'tsun', 'wdir'])

In [134]:
weather_data.to_csv('data weather bigger2.csv', index=False)

In [214]:
weather_data = pd.read_csv("data weather bigger2.csv")
weather_data.head(5)

         date  tavg  tmin  tmax  prcp  wspd    pres
0  2015-01-01   6.3  -0.6  13.9   0.0   2.8  1019.2
1  2015-01-02   7.2   0.0  15.0   0.0   2.2  1019.2
2  2015-01-03   8.3   1.7  16.1   0.0   2.6  1022.5
3  2015-01-04  11.9   3.3  20.6   0.0   5.2  1024.9
4  2015-01-05  18.9  15.0  24.4   0.0  22.7  1022.0

In [216]:
index = 1
weather_data.iloc[index:index+31].head(10)

          date  tavg  tmin  tmax  prcp  wspd    pres
1   2015-01-02   7.2   0.0  15.0   0.0   2.2  1019.2
2   2015-01-03   8.3   1.7  16.1   0.0   2.6  1022.5
3   2015-01-04  11.9   3.3  20.6   0.0   5.2  1024.9
4   2015-01-05  18.9  15.0  24.4   0.0  22.7  1022.0
5   2015-01-06  17.6   9.4  27.2   0.0   9.3  1021.1
6   2015-01-07  17.9   8.3  28.3   0.0   4.8  1018.9
7   2015-01-08  15.4   9.4  23.3   0.0   3.6  1016.5
8   2015-01-09  15.3  11.7  21.1   0.0   4.7  1015.4
9   2015-01-10  12.5  10.6  15.0   NaN   2.0     NaN
10  2015-01-11  14.2  12.2  16.7   9.3   4.7     NaN

In [218]:
df = weather_data.copy()
def fill_nan_with_avg_of_previous_3(column):
    # Convert column to a numpy array for efficient processing
    col_array = column.values
    # Iterate through the array to find NaNs
    for i in range(len(col_array)):
        if pd.isna(col_array[i]):
            # Get the preceding 3 values
            preceding_values = col_array[max(0, i-3):i]
            # Compute the average of the preceding values, if any
            if len(preceding_values) > 0:
                average = np.nanmean(preceding_values)
                col_array[i] = average
    return pd.Series(col_array)

# apply to each column
for col in df.columns:
    if df[col].isna().any():
        df[col] = fill_nan_with_avg_of_previous_3(df[col])

In [272]:
df.iloc[index:index+31].head(10)
df.to_csv('data weather bigger3.csv', index=False)

In [292]:
weather_data = pd.read_csv("data weather bigger3.csv")
weather_data.head(5)

         date  tavg  tmin  tmax  prcp  wspd    pres
0  2015-01-01   6.3  -0.6  13.9   0.0   2.8  1019.2
1  2015-01-02   7.2   0.0  15.0   0.0   2.2  1019.2
2  2015-01-03   8.3   1.7  16.1   0.0   2.6  1022.5
3  2015-01-04  11.9   3.3  20.6   0.0   5.2  1024.9
4  2015-01-05  18.9  15.0  24.4   0.0  22.7  1022.0

In [294]:
weather_data.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
wspd    float64
pres    float64
dtype: object

In [296]:
weather_data['date'] = pd.to_datetime(weather_data['date'])
weather_data['year'] = weather_data['date'].dt.year.astype('float64')
weather_data['month'] = weather_data['date'].dt.month.astype('float64')
weather_data['day'] = weather_data['date'].dt.day.astype('float64')
weather_data['day_of_week'] = weather_data['date'].dt.dayofweek.astype('float64') # 0=Monday, 6=Sunday
weather_data = weather_data.drop(columns=['date'])

In [298]:
weather_data.dtypes

tavg           float64
tmin           float64
tmax           float64
prcp           float64
wspd           float64
pres           float64
year           float64
month          float64
day            float64
day_of_week    float64
dtype: object

In [300]:
weather_data = weather_data.drop(index=424)
weather_data = weather_data.drop(index=1885)
weather_data = weather_data.drop(index=3287)
weather_data.reset_index(drop=True, inplace=True)

In [302]:
index = 421
weather_data.iloc[index:index+31].head(6)

     tavg  tmin  tmax  prcp  wspd    pres    year  month   day  day_of_week
421  18.5  10.0  27.2   0.0   3.6  1017.6  2016.0    2.0  26.0          4.0
422  18.2  11.7  26.7   0.0   6.1  1015.5  2016.0    2.0  27.0          5.0
423  19.7  12.8  27.2   0.0   8.5  1014.9  2016.0    2.0  28.0          6.0
424  19.2  11.7  28.3   0.0   4.4  1017.1  2016.0    3.0   1.0          1.0
425  17.8  11.1  25.0   0.0   5.3  1017.2  2016.0    3.0   2.0          2.0
426  16.4  11.1  23.9   0.0   3.8  1017.0  2016.0    3.0   3.0          3.0

In [348]:
index = 0*365
weather_data.iloc[index:index+31].head(6)

   tavg  tmin  tmax  prcp  wspd    pres    year  month  day  day_of_week
0   6.3  -0.6  13.9   0.0   2.8  1019.2  2015.0    1.0  1.0          3.0
1   7.2   0.0  15.0   0.0   2.2  1019.2  2015.0    1.0  2.0          4.0
2   8.3   1.7  16.1   0.0   2.6  1022.5  2015.0    1.0  3.0          5.0
3  11.9   3.3  20.6   0.0   5.2  1024.9  2015.0    1.0  4.0          6.0
4  18.9  15.0  24.4   0.0  22.7  1022.0  2015.0    1.0  5.0          0.0
5  17.6   9.4  27.2   0.0   9.3  1021.1  2015.0    1.0  6.0          1.0

In [436]:
current_year = weather_data['year'].max()
recent_years = [current_year - i for i in range(1,9)]
filtered_weather_data = weather_data[weather_data['year'].isin(recent_years)]
filtered_weather_data

      tavg  tmin  tmax  prcp  wspd    pres    year  month   day  day_of_week
0      6.3  -0.6  13.9   0.0   2.8  1019.2  2015.0    1.0   1.0          3.0
1      7.2   0.0  15.0   0.0   2.2  1019.2  2015.0    1.0   2.0          4.0
2      8.3   1.7  16.1   0.0   2.6  1022.5  2015.0    1.0   3.0          5.0
3     11.9   3.3  20.6   0.0   5.2  1024.9  2015.0    1.0   4.0          6.0
4     18.9  15.0  24.4   0.0  22.7  1022.0  2015.0    1.0   5.0          0.0
...    ...   ...   ...   ...   ...     ...     ...    ...   ...          ...
2915  14.4  12.2  17.8  14.8   4.3  1015.1  2022.0   12.0  27.0          1.0
2916  13.4   9.4  17.2   2.3   4.2  1012.4  2022.0   12.0  28.0          2.0
2917  13.1  12.2  14.4   2.5   3.8  1015.0  2022.0   12.0  29.0          3.0
2918  13.9  12.8  15.6   0.3   5.0  1018.2  2022.0   12.0  30.0          4.0
2919  14.3  13.3  15.6  14.0  17.2  1013.3  2022.0   12.0  31.0          5.0

[2920 rows x 10 columns]

In [522]:
months = filtered_weather_data['month'].unique().astype(int)

results = pd.DataFrame()

#start the loop
for month in months:
    max_day = int(filtered_weather_data[filtered_weather_data['month'] == month]['day'].max())
    
    
    for day in range(1, max_day +1):
        #filter
        grouped = filtered_weather_data[(filtered_weather_data['month']==month) & (filtered_weather_data['day'] ==day)]
        #grouped_tavg = grouped['tavg'].reset_index(drop=True)
        grouped_tavg = grouped[['tavg']].rename(columns={'tavg': f'tavg_{month}_{day}'}).reset_index(drop=True)
    
        
        #append results
        if not grouped.empty:
           results = pd.concat([results, grouped_tavg], axis=1)

#reset index
results = results.reset_index(drop=True)
results = results.T
results

               0     1     2     3     4     5     6     7
tavg_1_1     6.3  10.9   9.6  14.0  11.2  13.3  15.1  11.2
tavg_1_2     7.2  11.5  10.4  17.6  12.6  16.3  12.3  11.4
tavg_1_3     8.3  10.4  10.4  16.4  11.8  14.5  11.9   9.7
tavg_1_4    11.9  14.6  11.8  16.9  11.6  13.1  12.8  10.6
tavg_1_5    18.9  12.2  13.3  17.1  11.0  13.7  13.3  18.2
...          ...   ...   ...   ...   ...   ...   ...   ...
tavg_12_27   9.8  13.5  15.2  11.5  10.9  13.9   7.9  14.4
tavg_12_28   6.5  16.8  16.9  11.8   9.2   8.9   8.9  13.4
tavg_12_29   9.6  16.9  17.5  12.8   9.4  11.6   8.9  13.1
tavg_12_30   8.4  14.0  14.9  11.9  12.2  16.0  10.7  13.9
tavg_12_31  11.5  11.1  13.5  11.5  16.1  12.4  11.0  14.3

[365 rows x 8 columns]

In [524]:
grouped = filtered_weather_data[(filtered_weather_data['month'] == 12) & (filtered_weather_data['day'] == 30)]
grouped_tavg = grouped['tavg'].reset_index(drop=True)
grouped_tavg

0     8.4
1    14.0
2    14.9
3    11.9
4    12.2
5    16.0
6    10.7
7    13.9
Name: tavg, dtype: float64

In [316]:
X = weather_data.drop('tavg', axis= 1)
y = weather_data['tavg']

In [308]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [172]:
#define our model
model = Sequential()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [174]:
#layers
model.add(Input(shape=(X_train.shape[1],))) #input
model.add(Dense(64, activation='relu'))   #hidden
model.add(Dense(32, activation='relu'))   #hidden
model.add(Dense(1, activation='relu')) #output

In [176]:
#Compile
model.compile(optimizer=Adam(),
              loss = 'MSE',
              metrics=['accuracy'])

In [182]:
#training
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=1)

Epoch 1/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.0000e+00 - loss: 377.7839 - val_accuracy: 0.0000e+00 - val_loss: 262.0410
Epoch 2/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 176.6220 - val_accuracy: 0.0000e+00 - val_loss: 24.8864
Epoch 3/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 16.9749 - val_accuracy: 0.0000e+00 - val_loss: 13.1272
Epoch 4/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 11.0039 - val_accuracy: 0.0000e+00 - val_loss: 10.7144
Epoch 5/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 8.3936 - val_accuracy: 0.0000e+00 - val_loss: 9.2928
Epoch 6/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 7.1737 - val_accuracy: 0.0000e+00 - val_loss: 8.2743
Epoch 7/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 6.7644 - val_accuracy: 0.0000e+00 - val_loss: 7.3147
Epoch 8/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 5.9396 - val_accuracy: 0.0000e+00 - val_loss: 6.7159
Epoch 9/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 5.6784 - val_accuracy: 0.0000e+00 - val_loss: 6.0877
Epoch 10/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 4.7704 - val_accuracy: 0.0000e+00 - val_loss: 5.5612
Epoch 11/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 4.4460 - val_accuracy: 0.0000e+00 - val_loss: 5.1733
Epoch 12/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 3.9812 - val_accuracy: 0.0000e+00 - val_loss: 4.6827
Epoch 13/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 3.4692 - val_accuracy: 0.0000e+00 - val_loss: 4.2785
Epoch 14/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 3.3068 - val_accuracy: 0.0000e+00 - val_loss: 3.9632
Epoch 15/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 3.0196 - val_accuracy: 0.0000e+00 - val_loss: 3.6350
Epoch 16/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 2.7007 - val_accuracy: 0.0000e+00 - val_loss: 3.2179
Epoch 17/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 2.4902 - val_accuracy: 0.0000e+00 - val_loss: 2.9834
Epoch 18/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 2.2598 - val_accuracy: 0.0000e+00 - val_loss: 2.6256
Epoch 19/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 2.0759 - val_accuracy: 0.0000e+00 - val_loss: 2.3915
Epoch 20/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 1.8441 - val_accuracy: 0.0000e+00 - val_loss: 2.2072
Epoch 21/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.6296 - val_accuracy: 0.0000e+00 - val_loss: 1.9567
Epoch 22/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.4758 - val_accuracy: 0.0000e+00 - val_loss: 1.7896
Epoch 23/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.3068 - val_accuracy: 0.0000e+00 - val_loss: 1.5964
Epoch 24/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 1.1312 - val_accuracy: 0.0000e+00 - val_loss: 1.4363
Epoch 25/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.1045 - val_accuracy: 0.0000e+00 - val_loss: 1.2607
Epoch 26/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.8990 - val_accuracy: 0.0000e+00 - val_loss: 1.0938
Epoch 27/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.7345 - val_accuracy: 0.0000e+00 - val_loss: 1.0413
Epoch 28/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.6882 - val_accuracy: 0.0000e+00 - val_loss: 0.9344
Epoch 29/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.6228 - val_accuracy: 0.0000e+00 - val_loss: 0.8446
Epoch 30/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.6443 - val_accuracy: 0.0000e+00 - val_loss: 0.7785
Epoch 31/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.5638 - val_accuracy: 0.0000e+00 - val_loss: 0.7451
Epoch 32/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.5679 - val_accuracy: 0.0000e+00 - val_loss: 0.6803
Epoch 33/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.5377 - val_accuracy: 0.0000e+00 - val_loss: 0.6645
Epoch 34/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.4959 - val_accuracy: 0.0000e+00 - val_loss: 0.6389
Epoch 35/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.4728 - val_accuracy: 0.0000e+00 - val_loss: 0.5867
Epoch 36/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.4779 - val_accuracy: 0.0000e+00 - val_loss: 0.5797
Epoch 37/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.4344 - val_accuracy: 0.0000e+00 - val_loss: 0.5517
Epoch 38/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.4235 - val_accuracy: 0.0000e+00 - val_loss: 0.5422
Epoch 39/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3961 - val_accuracy: 0.0000e+00 - val_loss: 0.5542
Epoch 40/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3966 - val_accuracy: 0.0000e+00 - val_loss: 0.5108
Epoch 41/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3884 - val_accuracy: 0.0000e+00 - val_loss: 0.5602
Epoch 42/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.4046 - val_accuracy: 0.0000e+00 - val_loss: 0.5068
Epoch 43/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3979 - val_accuracy: 0.0000e+00 - val_loss: 0.6161
Epoch 44/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3968 - val_accuracy: 0.0000e+00 - val_loss: 0.4824
Epoch 45/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3817 - val_accuracy: 0.0000e+00 - val_loss: 0.4745
Epoch 46/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3719 - val_accuracy: 0.0000e+00 - val_loss: 0.4769
Epoch 47/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3522 - val_accuracy: 0.0000e+00 - val_loss: 0.4725
Epoch 48/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3593 - val_accuracy: 0.0000e+00 - val_loss: 0.4919
Epoch 49/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3316 - val_accuracy: 0.0000e+00 - val_loss: 0.4754
Epoch 50/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3405 - val_accuracy: 0.0000e+00 - val_loss: 0.4626
Epoch 51/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3471 - val_accuracy: 0.0000e+00 - val_loss: 0.4367
Epoch 52/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3589 - val_accuracy: 0.0000e+00 - val_loss: 0.4683
Epoch 53/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3275 - val_accuracy: 0.0000e+00 - val_loss: 0.4579
Epoch 54/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3433 - val_accuracy: 0.0000e+00 - val_loss: 0.4601
Epoch 55/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3508 - val_accuracy: 0.0000e+00 - val_loss: 0.4574
Epoch 56/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3529 - val_accuracy: 0.0000e+00 - val_loss: 0.4314
Epoch 57/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3482 - val_accuracy: 0.0000e+00 - val_loss: 0.4559
Epoch 58/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3158 - val_accuracy: 0.0000e+00 - val_loss: 0.4452
Epoch 59/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3301 - val_accuracy: 0.0000e+00 - val_loss: 0.4261
Epoch 60/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3296 - val_accuracy: 0.0000e+00 - val_loss: 0.4200
Epoch 61/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2957 - val_accuracy: 0.0000e+00 - val_loss: 0.4219
Epoch 62/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3315 - val_accuracy: 0.0000e+00 - val_loss: 0.4449
Epoch 63/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3233 - val_accuracy: 0.0000e+00 - val_loss: 0.4118
Epoch 64/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3308 - val_accuracy: 0.0000e+00 - val_loss: 0.4709
Epoch 65/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3173 - val_accuracy: 0.0000e+00 - val_loss: 0.4195
Epoch 66/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3091 - val_accuracy: 0.0000e+00 - val_loss: 0.4139
Epoch 67/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3191 - val_accuracy: 0.0000e+00 - val_loss: 0.4422
Epoch 68/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2977 - val_accuracy: 0.0000e+00 - val_loss: 0.4496
Epoch 69/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3045 - val_accuracy: 0.0000e+00 - val_loss: 0.4160
Epoch 70/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2970 - val_accuracy: 0.0000e+00 - val_loss: 0.4207
Epoch 71/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2935 - val_accuracy: 0.0000e+00 - val_loss: 0.4167
Epoch 72/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3038 - val_accuracy: 0.0000e+00 - val_loss: 0.4181
Epoch 73/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2971 - val_accuracy: 0.0000e+00 - val_loss: 0.4165
Epoch 74/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3059 - val_accuracy: 0.0000e+00 - val_loss: 0.4511
Epoch 75/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3233 - val_accuracy: 0.0000e+00 - val_loss: 0.4617
Epoch 76/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3203 - val_accuracy: 0.0000e+00 - val_loss: 0.4002
Epoch 77/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3013 - val_accuracy: 0.0000e+00 - val_loss: 0.4158
Epoch 78/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2951 - val_accuracy: 0.0000e+00 - val_loss: 0.4025
Epoch 79/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2881 - val_accuracy: 0.0000e+00 - val_loss: 0.4339
Epoch 80/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2886 - val_accuracy: 0.0000e+00 - val_loss: 0.4299
Epoch 81/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2986 - val_accuracy: 0.0000e+00 - val_loss: 0.4326
Epoch 82/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3166 - val_accuracy: 0.0000e+00 - val_loss: 0.3891
Epoch 83/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2951 - val_accuracy: 0.0000e+00 - val_loss: 0.4105
Epoch 84/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2826 - val_accuracy: 0.0000e+00 - val_loss: 0.4070
Epoch 85/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2987 - val_accuracy: 0.0000e+00 - val_loss: 0.3929
Epoch 86/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2740 - val_accuracy: 0.0000e+00 - val_loss: 0.4223
Epoch 87/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2889 - val_accuracy: 0.0000e+00 - val_loss: 0.4586
Epoch 88/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2864 - val_accuracy: 0.0000e+00 - val_loss: 0.4181
Epoch 89/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2867 - val_accuracy: 0.0000e+00 - val_loss: 0.4110
Epoch 90/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2857 - val_accuracy: 0.0000e+00 - val_loss: 0.4491
Epoch 91/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2914 - val_accuracy: 0.0000e+00 - val_loss: 0.4197
Epoch 92/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2765 - val_accuracy: 0.0000e+00 - val_loss: 0.4157
Epoch 93/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2717 - val_accuracy: 0.0000e+00 - val_loss: 0.4244
Epoch 94/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3255 - val_accuracy: 0.0000e+00 - val_loss: 0.4933
Epoch 95/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2935 - val_accuracy: 0.0000e+00 - val_loss: 0.4013
Epoch 96/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2843 - val_accuracy: 0.0000e+00 - val_loss: 0.3919
Epoch 97/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.3024 - val_accuracy: 0.0000e+00 - val_loss: 0.4258
Epoch 98/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2699 - val_accuracy: 0.0000e+00 - val_loss: 0.4206
Epoch 99/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2707 - val_accuracy: 0.0000e+00 - val_loss: 0.4563
Epoch 100/100
66/66 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 0.2938 - val_accuracy: 0.0000e+00 - val_loss: 0.3979